[tool.poetry]
name = "talked"
version = "0.1.0"
description = "Call recording for Nextcloud Talk"
authors = ["Magnus Walbeck <mw@mwalbeck.org>"]
license = "AGPLv3-or-later"

[tool.poetry.dependencies]
python = "^3.8"
selenium = "^3.141.0"
PyVirtualDisplay = "^2.2"

[tool.poetry.dev-dependencies]
flake8 = "^3.9.2"
black = "^21.7b0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
